.horizontal-slider {
    width: 100%;
    max-width: 710px;
    height: 20px;
    margin: auto;
}

.example-thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: white;
    border: 5px solid var(--orange);
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
  
.example-thumb.active {
    background-color: var(--lightorange);
}
  
.example-track {
    position: relative;
    background: var(--lightpink);
}
  
.example-track.example-track-0 {
    background: var(--darkorange);
}
  
.horizontal-slider .example-track {
    top: 12px;
    height: 10px;
}
  
.horizontal-slider .example-thumb {
    top: 0.75em;
    width: 0.625em;
    outline: none;
    height: 0.625em;
    line-height: 2.375em;
}

.share-btn {
    font-size: 1rem;
    background-color: transparent;
    color: var(--info);
    padding: 0.25em 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    float: right;
    margin-right: 0.4em;
}

.volunteer-btn {
    background-color: var(--info);
    border-radius: 20px;
    border: none;
    height: 2.5em;
    width: 8.75em;
    float: right;
    font-weight: 600;
    letter-spacing: 0.02857em;
}
