.skill-header {
    color: var(--grey);
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    font-weight: 700;
}

.skill-btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--buttonface);
  color: black;
  font-size: smaller;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
}

.weighted-text {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: var(--darkgrey);
  font-weight: 700;
}

.school-name {
    color: var(--info);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

@media screen and (max-width: 991px) {
    .goodtohaveskill-div {
      margin-top: 0.7em;
    }
}

@media screen and (max-width: 1200px) {
    .skill-btn {
      margin-top: 0.3em;
    }
}