.footer-first-text {
  color: var(--info);
  margin-top: 1em;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.06071em;
  font-weight: 700;
}

.footer-text {
  color: var(--darkgrey);
  margin-top: 3%;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  font-weight: 700;
}

.bottom-circle {
  display: flex;
  width: 2.9em;
  height: 2.9em;
  border-radius: 50%;
  text-align: center;
  background-color: var(--info);
}

.bottom-circle-text {
  margin-left: 0.7em;
  margin-top: 0.7em;
  font-size: 1.1rem;
}

.footer-div {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

@media screen and (max-width: 991px) and (min-width: 442px) {
  .footer-first-text {
    min-width: 17em;
  }
}

@media screen and (max-width: 600px) {
  .footer-div {
    margin-right: auto;
    margin-left: 0;
    align-items: center;
  }
  .bottom-circle {
    min-width: 2.8em;
  }
  .footer-text {
    text-align: center;
  }
}
