body {
  font-family: 'Manrope';
}

.display-flex {
  display: flex;
}

.modal-title {
  color:rgb(95, 91, 91);
  font-weight: bold;
}

.modal-body {
  padding: 5px;
}

.info-button {
  height: 30px;
  width: 90px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: smaller;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 5px;
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .modal-dialog {
    margin: 0;
    max-width: none;
  }
}

@media screen and (min-width: 992px){
  .modal-dialog {
  margin-top: 50px;
  }
}

@media screen and (min-width: 992px) and (max-width:1200px) {
  .modal-dialog {
    margin: 30px;
    max-width: none;
  }
}
